---
title: Tethys Deep
---

%section.hero.header
  .container
    %h1.brand
      %span.tethys
        teth
        %span.flipped h
        s
      &nbsp;
      %span.deep
        dee
        %span.flipped d

%section.about.bg-dark
  .container
    :markdown
      Earth's waters are vast and elusive to even our best modern science.
      However, there's much that we do know. The average human, though, is
      surface-bound and depths-ignorant. With immersive virtual reality hitting
      markets worldwide in 2016, Tethys Deep will craft an experience that will
      connect humanity to this vast underwater universe. Put on your virtual reality
      headset, choose from a variety of locations across the planet, and dive
      in—Tethys Deep will let you control a robot there in real-time, and explore the
      wonders that await.

